.title {
    font-size: 60px;
    text-align: center;
    margin-block: 30px;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    max-width: 320px;
    width: calc(100% - 40px);
}