.taped-image {
    position: relative;
    margin-block: 30px;
}

.taped-image .img {
    aspect-ratio: 2/3;
    display: block;
    width: calc(100% - 100px);
    height: auto;
    margin-inline: auto;
    margin-block-end: 40px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.taped-image .first {
    position: absolute;
    left: 50%;
    top: 0;
    translate: -50% -50%;
}

.taped-image .last {
    position: absolute;
    left: 50%;
    top: auto;
    bottom: 0;
    translate: -50% 50%;
}