.taped-image {
    position: relative;
    margin-block: 30px;
}

.taped-image .img {
    display: block;
    width: 100%;
    height: auto;
    margin-inline: auto;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.taped-image .first {
    width: 80px;
    position: absolute;
    left: 50%;
    top: 0;
    translate: -50% -50%;
}

.taped-image .last {
    width: 80px;
    position: absolute;
    left: 50%;
    top: auto;
    bottom: 0;
    translate: -50% 50%;
}

.taped-image.bottom .first,
.taped-image.right .first,
.taped-image.top .last,
.taped-image.left .last {
    display: none;
}

.taped-image:is(.left, .left-right, .right) .first,
.taped-image:is(.left, .left-right, .right) .last {
    top: 50%;
    bottom: auto;
    rotate: 90deg;
}

.taped-image:is(.left, .left-right, .right) .first {
    left: 0;
    translate: -50% -50%;
}

.taped-image:is(.left, .left-right, .right) .last {
    right: 0;
    left: auto;
    translate: 50% -50%;
}

.taped-image.none :is(.last,.first) {
    display: none;
}

@media screen and (min-width: 64em) {
    .taped-image .img {
        width: 100%;
    }

    .taped-image :is(.first, .last) img {
        width: 80px !important;
    }

    .taped-image:is(.left, .left-right, .right) .first {
        left: 0;
    }
    
    .taped-image:is(.left, .left-right, .right) .last {
        right: 0;
    }
}