.code {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cell {
    border: solid 2px var(--blue-8a);
    width: 35px;
    aspect-ratio: 1 / 1.75;
    border-radius: 5px;
}

.hidden {
    position: absolute;
    opacity: 0;
}